 <section>
     <div class="container is-max-desktop px-2">
            <div class="field" id="title">
                <h class="title is-4"></h>
            </div>
            <div class="field" id="path">
                <h class="subtitle is-6"></h>
            </div>
            <div class="field">
                <input hidden id="tag-selector" value=""></input>
                <input hidden id="filename-input" value=""></input>
                <input hidden id="cat-selector" value=""></input>
                <input hidden id="category-field" value=""></input>
                <input hidden id="tag-field" value=""></input>
                {% include "partial/note/note_area.html" %}
            </div>
        <form action="/delete_note/" method="post">
            <div class="field pt-3">
                <div class="control">
                    <label class="label" for="note-choice">Choose Note</label>
                    <div class="select is-rounded is-loading" id="note-loader">
                        <select name="note-choice" id="note-selector" onchange="getNote()">
                            <option value="default" selected disabled>Select</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="button is-text px-1">Delete Note</button>
        </form>
     </div>
</section>

<script>
    list_notes();    
</script>
