<div class="field has-text-centered">
    <button class="button is-outlined px-6 my-3 is-dark" id="clear-button" onclick="clearField()">Clear</button>
    <button class="button is-outlined px-6 my-3 is-dark" id="save-button" onclick="fileInput()">Save</button>
</div>
