 <section>
     <div class="container is-max-desktop">
        <form method="" action="" class="mx-5">
            <div class="field">
                <label class="label is-medium" for="title">Title</label>
                <div class="control"><input type="text" id="filename-input" class="input" name="title" placeholder="less than 80 character"></div>
            </div>
            <div class="field">
                {% include "partial/note/note_area.html" %} 
            </div>
            <div class="field pt-3">
                <div class="control">
                    <label class="label" for="tag">Tag</label>
                    <div class="select is-rounded is-loading" id="tag-loader"  onchange="chooseTag()">
                        <select name="tag-choice" id="tag-selector">
                            <option value="default" disabled selected>Select Tag</option>
                            <option value="new-cat-tag">New category and new tag</option>
                            <option value="new-tag">New tag with existing category</option>
                            <option disabled>-----------------------------</option>
                        </select>
                    </div>
                </div>
                <div class="control is-hidden mt-2" id="cat-control">
                    <label class="label" for="category">Category</label>
                    <div class="select is-rounded is-loading" id="cat-loader">
                        <select name="cat-choice" id="cat-selector">
                            <option value="default" disabled selected>Select Category</option>
                            <option disabled>-----------------------------</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
            <div class="field mx-5 mt-3">
                <div class="control is-hidden" id="category-input">
                    <input class="input is-rounded" type="text" placeholder="Category: less than 16 characters" name="category-name" id="category-field">
                </div>
            </div>
            <div class="field mx-5">
                <div class="control is-hidden" id="tag-input">
                    <input class="input is-rounded" type="text" placeholder="Tag: less than 16 characters" name="tag-name" id="tag-field">
                </div>
            </div>
     </div>
</section>

