<div class="control columns mx-0">
    <div class="column px-0" id="viewer-container">
        {% if page == "view" %}
            <textarea name="note" id="text-input" class="textarea" placeholder="Select note from the dropdown menu below" cols="30" rows="15" onkeyup="convert()" readonly></textarea>
        {% endif %}
        {% if page == "new" %}
        <textarea name="note" id="text-input" class="textarea" cols="30" rows="15"  placeholder="Enter note here. Please do not enter any sensitive information." onkeyup="convert()"></textarea>
        {% endif %}
    </div>
    <div id="text-output" class="is-hidden content is-half has-background-white-bis column my-3 box"></div>
</div>

<div class="field">
    <div class="control" onchange="changeView()">
        <label class="radio"><input type="radio" name="markdown" id="plaintext" value="plaintext" checked> Plaintext view</label>
        <label class="radio"><input type="radio" name="markdown" id="markdown" value="markdown"> Markdown view</label>
        <label class="radio"><input type="radio" name="markdown" id="split" value="split"> Split view</label>
    </div>
</div>
<div class="field">
    <p class="has-text-grey is-size-7">What is <a href="https://www.markdownguide.org/getting-started">Markdown</a>, and how to <a href="https://www.markdownguide.org/basic-syntax/">get started</a></p>
</div>

