
<div class="tabs is-medium is-centered">
    <ul>
        <li class="is-size-6-mobile {% if page == 'new' %}is-active{% endif %}">
            <a href="/note/new/">New Note</a>
        </li>
        <li class="is-size-6-mobile {% if page == 'view' %}is-active{% endif %}">
            <a href="/note/view/">Edit/View Notes</a>
        </li>
    </ul>

</div>
