     <section class="section py-1">  <!--duckduckgo search bar -->
            <div class="has-text-centered">
                <div class="has-text-centered">
                    <a href="/home" class="ml-2 mr-2">Return to Homepage</a>
                    <span>|</span>
                    <a href="/home/restore/" class="ml-2">Restore&nbsp;default&nbsp;bookmarks</a>
                </div>
                <h2 class="subtitle is-6 mt-3">
                    To delete bookmark / folder / category, click the&nbsp;
                    <button class="button icon has-text-grey is-inactive is-rounded is-small mt-1" type="submit">
                        <i class="fas fa-times is-small"></i>
                    </button>
                    &nbsp;buttons
                </h2>
            </div>
    </section>
<section>
    <nav class="columns mt-3 is-mobile is-multiline is-centered">
        {% for category in bookmarks %}
        <div class="menu column is-2-desktop has-text-centered"> <!-- div for one Category -->
            <p class="menu-label is-outlined is-light">
                <form class="dropdown-item has-text-centered is-outlined is-light has-text-grey-dark" method="post" action="/home/edit">
                    <input type="hidden" name="category-del" value="{{ category.name }}">
                    <span class="is-size-6"><strong>{{ category.name }}</strong></span>
                    <button class="icon has-text-grey button is-rounded is-small mt-1 ml-2" type="submit">
                        <i class="fas fa-times is-small"></i>
                    </button>
                </form>
            </p> 
            <ul>
                {% for folder in category.folders %}
                <li>                                             <!-- div for one folder --> 
                    <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-primary has-text-grey" aria-haspopup="true" aria-controls="dropdown-menu">
                        <form class="has-text-left is-outlined is-light has-text-grey" method="post" action="/home/edit/">
                            <input type="hidden" name="folder-del" value="{{ folder.name }}">
                            <input type="hidden" name="folder-category" value="{{ category.name }}">
                            <span>{{ folder.name }}</span>
                            <button class="icon has-text-grey button is-rounded is-small mt-3" type="submit">
                                <i class="fas fa-times is-small"></i>
                            </button>
                        </form>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for bookmark in folder.bookmarks %}
                            <form class="dropdown-item has-text-left is-outlined is-light has-text-grey" method="post" action="/home/edit/">
                                    <input type="hidden" name="bookmark-id" value="{{ bookmark.id }}">
                                      <button class="icon has-text-grey button is-rounded is-small mt-1" type="submit">
                                        <i class="fas fa-times is-small"></i>
                                      </button>
                                      <span> {{ bookmark.title }}</span>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </li>
                {% endfor %}
                {% for bookmark in category.bookmarks %}         <!-- div for one link -->
                <li>
                    <div class="button is-outlined is-light has-text-grey">
                        <span>{{ bookmark.title }}</span>
                        <form class="has-text-left is-outlined is-light has-text-grey" method="post" action="/home/edit">
                            <input type="hidden" name="bookmark-id" value="{{ bookmark.id }}">
                            <button class="icon has-text-grey button is-rounded is-small ml-2 mt-1" type="submit">
                            <i class="fas fa-times is-small"></i>
                        </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>       
        {% endfor %}
</section>
