<section class="has-text-centered">
    <a class="is-size-6" href="/home">Return to homepage</a>
</section>
    <div class="container is-max-desktop notification">
        <form class="mx-5" method="post">
            <div class="field">
                <label class="label" for="title">Bookmark Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="less than 16 characters" name="title">
                </div>
            </div>
            <div class="field">
                <label class="label" for="url">Web Address (URL)</label>
                <div class="control">
                    <input class="input" type="text" placeholder="less than 255 characters" name="url">
                </div>
            </div>
            <div class="field pt-3">
                <div class="control" pr-3>
                    <label class="label" for="category">Category</label>
                    <div class="select is-rounded">
                        <select name="category-choice" id="category-selector" onchange="selectCategory()">
                            <option value="default" selected disabled>Please select</option>
                            <option value="create">Create new category</option>
                            <option disabled>------------------------</option>
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-hidden" id="category-input">
                <div class="control">
                    <input class="input is-rounded" type="text" placeholder="Category name (less than 16 characters)" name="category-name">
                </div>
            </div>
            <div class="field pt-3">
                <div class="control">
                    <label class="label" for="folder">Folder</label>
                    <div class="select is-rounded">
                        <select name="folder-choice" id="folder-selector" onchange="selectFolder()">
                            <option value="default">Default (no folder)</option>
                            <option value="create">Create new folder</option>
                            <option disabled>------------------------</option>
                            {% for folder in folders %}
                            <option value="{{ folder[0] }}" class="folder-options {{ folder[1] }}">{{ folder[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-hidden" id="folder-input">
                <div class="control">
                    <input class="input is-rounded" type="text" placeholder="Folder name (less than 16 characters)" name="folder-name">
                </div>
            </div>
            <div class="field">
                <button class="button is-outlined px-6 my-3 is-dark" type="submit">Add Bookmark</button>
            </div>
        </form>
    </div>
</section>

<script>
    function selectFolder(){
        folderChoice = document.querySelector("#folder-selector");
        folderField = document.querySelector("#folder-input");
        toggleField(folderChoice, folderField);
        return;
    }
    function selectCategory(){
        categoryChoice = document.querySelector("#category-selector");
        categoryField = document.querySelector("#category-input");
        toggleField(categoryChoice, categoryField);
        
        document.querySelector("#folder-selector").value = "default";
        
        folderNodes = document.querySelectorAll(".folder-options");
        for (let i = 0; i < folderNodes.length; i++) {
            if (folderNodes[i].classList.contains(categoryChoice.value.replace(' ', '-'))) {
                folderNodes[i].classList.remove("is-hidden");
            }
            else if (!folderNodes[i].classList.contains("is-hidden")){
                folderNodes[i].classList.add("is-hidden");
            }
        }
        return;
    }
    function toggleField(choice, field){
        if (choice.value === "create"){
            field.classList.remove("is-hidden");
        }
        else if (!("is-hidden" in field.classList)) {
            field.classList.add("is-hidden");
        }
        return;
    }
</script>
