<section>
    <nav class="columns mt-3 is-mobile is-multiline is-centered">
        {% for category in bookmarks %}
        <div class="menu column is-2-desktop has-text-centered"> <!-- div for one Category -->
            <p class="menu-label">
                <span>{{ category.name }}</span>
            </p> 
            <ul class="menu-list">
                {% for folder in category.folders %}
                <li>                                             <!-- div for one folder --> 
                    <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon has-text-grey-light">
                                  <i class="fas fa-folder"></i>
                            </span>
                            <span>{{ folder.name }}</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for bookmark in folder.bookmarks %}
                            <a class="dropdown-item" href="{{ bookmark.url }}">{{ bookmark.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </li>
                {% endfor %}
                {% for bookmark in category.bookmarks %}         <!-- div for one link -->
                <li>
                    <a href="{{ bookmark.url }}">
                        <span>{{ bookmark.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>       
        {% endfor %}
</section>
