     <section class="section py-1">  <!--Duckduckgo Search Bar -->
        <div class="columns">
            <div class="column is-hidden-mobile"></div>
            <div class="column is-half pt-0">
                {% if user != "false" %}
                <div class="columns is-gapless mt-2">
                    <div class="column"></div>
                    <div class="column is-four-fifths has-text-centered">
                        <a href="/home/create/" class="ml-2">New&nbsp;bookmark</a>
                        <span class="is-hidden-mobile">|</span>
                        <a href="/home/edit/" class="ml-2 mr-2">Edit&nbsp;bookmark(s)</a>
                        <span class="is-hidden-mobile">|</span>
                        <a href="/home/restore/" class="ml-2 mr-2">Restore&nbsp;default&nbsp;bookmark(s)</a>
                    </div>
                    <div class="column"></div>
                </div>
                {% endif %}
                <form method="get" action="https://duckduckgo.com/">
                    <input class="input is-rounded" type="text" name="q" placeholder="Search on Duckduckgo" value="">
                    <input type="hidden" name="kae" value="d"/>
                    <input type="hidden" name="k1" value="-1"/> 
                    <input type="hidden" name="kp" value="-2"/>
                </form>
            </div>
            <div class="column is-hidden-mobile"></div>
        </div>
    </section>
