<section>
	<div class="container is-max-desktop">
		<div class="columns">
			<div class="column">
				<h class="subtitle is-5 ml-2 is-size-6-mobile" id="date-time">
					Current time: 14:40&nbsp;&nbsp;&nbsp;&nbsp;14 Feb 2021
				</h>
			</div>
		    <div class="column is-2 py-1 mx-2">
                <form class="">
                    <div class="select is-small is-rounded">
                        <select id="filter" onchange="filterDate()">
                            <option selected disabled value="" id="default-choice">Filer by Date</option>
                            {% for date in dates %}
                            <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>

		{% for task in timetable %}
		<form action="/timetable/table" method="POST" class="notification is-dark columns is-gapless is-vcentered on{{ task.post_date }}">
		    <div class="column is-two-thirds">
			    <h class="title is-5 is-size-4-tablet-only">{{ task.title }}</h> 
			    <p class="mb-3 mr-2 is-hidden-mobile">{{ task.descriptor }}</p>
			</div>
			<div class="column">
				<span class="tag has-background-grey-light has-text-white-bis px-3 mr-3">{{ task.tag }}</span>
			</div>
		    <div class="column is-3 has-text-left-mobile mr-2">
		    	<h class="subtitle is-5 mr-3 is-size-6-mobile">
		    		<span class="is-size-6">{{ task.duration }}</span>
		    		<span class="icon"><i class="fas fa-clock"></i></span>
		    		<span>{{ task.start_time }}&#8288;&ndash;&#8288;{{ task.end_time }}&nbsp;</span>
		    	</h>
		    </div>
		    
				<button type="submit" value="{{ task.id }}" name="delete" class="delete">
	            </button>
	    </form>
	    {% endfor %}
	</div>

</section>

<script>
    document.querySelector("#default-choice").value = getToday(1);
    function filterDate() {
        let choice = document.querySelector('#filter').value;
        if (choice === 'default') {
        	choice = getToday(1);
        }
        {% for date in dates %}
        lines = document.querySelectorAll(".on{{ date }}");
        for (let i = 0; i < lines.length; i++) {
            if (choice !== '{{ date }}') {
                lines[i].style.display = 'none';
            }
            else if (choice === '{{ date }}') {
                lines[i].style.removeProperty('display');
            }
        }
        {% endfor %}
        return;
    }

    function formatTen(num) {
	    if (num < 10) {
	        return '0' + num;
	    }
	    else {
	        return num;
	    }
    }

    function getToday(selector) {
	    let today = new Date();
	    let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
	    if (selector === 1) {
			return formatTen(today.getFullYear())+'-'+formatTen((today.getMonth()+1))+'-'+formatTen(today.getDate());
		}
		else {
			return today.getDate() + '&nbsp' + months[today.getMonth()] + '&nbsp;' + today.getFullYear()
		}
	}
	
	function updateDT(){
		let dtText = document.querySelector("#date-time");
		let now = new Date();
		flip = (flip === ':')? ' ':':';
		dtText.innerHTML = "Current time: " + formatTen(now.getHours()) + flip + formatTen(now.getMinutes()) + "&nbsp;&nbsp;&nbsp;" + getToday(0);
		return setTimeout(function(){updateDT();}, 900);
	}

	let flip = ':';
	updateDT();
	filterDate();

</script>
