<section>
    <div class="container is-max-desktop notification">
        <form action="/timetable/create" class="mx-5" method="post">
            <div class="field">
                <label class="label is-medium" for="title">Task title</label>
                <div class="control">
                    <input class="input" type="text" name="title" placeholder="less than 80 characters" name="title">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="descriptor" cols="30" rows="6" placeholder="(Optional) Describe the task"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-hidden-mobile" id="first-input">
                <label class="label control is-medium mt-1 is-size-6-touch" for="starttime">
                    Starts at
                </label>
                <input type="time" class="input is-rounded mr-2" name="starttime">
                    <label class="label control is-medium mt-1 is-size-6-touch" for="endtime">
                        Ends at
                    </label>
                <input type="time" name="endtime" class="input is-rounded mr-2">
                <div class="control is-hidden-mobile">
                    <div class="select is-small my-2 is-rounded">
                        <select name="tag" class="tagSelector">
                            <option value="" disabled selected>Select Tag</option>
                            {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-hidden-tablet" id="second-input">
                <label class="label control is-medium mt-1 is-size-6-touch" for="starttime-mobile">
                    Starts at
                </label>
                <input type="time" class="input is-rounded" name="starttime-mobile">
            </div>
            <div class="field is-grouped is-hidden-tablet">
                <label class="label control is-medium mt-1 is-size-6-touch" for="endtime-mobile">
                    Ends at
                </label>
                <input type="time" class="input is-rounded" name="endtime-mobile" >
            </div>
            <div class="field is-grouped">
            <div class="control select is-hidden-tablet is-small my-2 is-rounded">
                <select name="tag" class="tagSelector">
                    <option value="" disabled selected>Select Tag</option>
                    {% for tag in tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="control checkbox pt-3">
                <input type="checkbox" id="customCheckbox" onchange="customTag()"> Custom tag </label>
            </div>
            <div class="field">
                <input class="control is-rounded input is-hidden" id="custom-tag" name="custom_tag" type="text" placeholder="Input custom tag">
            </div>
            <div class="field">
                <button class="button is-outlined px-6 my-3 is-dark" type="submit">Add timetable item</button>
            </div>
        </form>
    </div>
</section>

<script>
    function customTag() {
        selects = document.querySelectorAll(".tagSelector");
        tagBox = document.querySelector("#custom-tag");

        if (document.querySelector("#customCheckbox").checked === true){
            tagBox.classList.remove("is-hidden");
            for (select of selects) {
                select.setAttribute("disabled", true);
                select.value = "";
            }
        }
        else {
            tagBox.classList.add("is-hidden");
            for (select of selects) {
                select.removeAttribute("disabled");
                select.value = "";
            }
        }
    return;
    }
</script>
