<div class="tabs is-medium is-centered">
    <ul>
        <li class="is-size-6-mobile {% if page == 'table' %}is-active{% endif %}">
            <a href="/timetable/table">Timetable</a>
        </li>
        <li class="is-size-6-mobile {% if page == 'create' %}is-active{% endif %}">
            <a href="/timetable/create">Create Task</a>
        </li>
    </ul>
</div>
