@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Variables
$primary: hsl(0, 0%, 96%);
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 61%);
$menu-item-hover-background-color: hsl(0, 0%, 48%);
$dropdown-content-background-color: $light;
$menu-item-hover-color: $light;
$size-medium: 1.23em;
$menu-item-radius: 10px;
$family-sans-serif: "Roboto", sans-serif;
$body-background-color: $primary;
$background-color: $primary;
// $container-max-width: 750px;

// Import only what you need from Bulma
@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";
@import "bulma/elements/_all.sass";
@import "bulma/grid/_all.sass";
@import "bulma/form/_all.sass";
@import "bulma/components/_all.sass";
@import "bulma/layout/_all.sass";
@import "bulma/helpers/_all.sass";

@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

.user {
    @extend %fa-icon;
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-user);
    }
  }
  
  .twitter {
    @extend %fa-icon;
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-twitter);
    }
  }

.tag:not(body) {
    width: 92px;
  }

.footer {
    background-color: whitesmoke;
}

pre {
    background-color: whitesmoke;
}
