<form method="POST" action="/todo/{{ page }}/{{ sorter }}">
    <div class="field has-addons mt-3">
        <p class="control">
        <button type="submit" value={{ task.id }} name="completed" class="button is-outlined is-primary is-rounded is-small mr-0 mb-1">
                <p>Done</p>
                <span class="icon"><i class="fas fa-check"></i></span>
            </button>
        </p>
        <p class="control">
        <button type="submit" value={{ task.id }} name="delete" class="button is-primary is-rounded is-outlined is-small mr-2">
                <p>Delete</p>
                <span class="icon"><i class="fas fa-times"></i></span>
            </button>
        </p>
    </div>
</form>
