<div class="tabs is-medium is-centered">
    <ul>
        <li class="is-size-6-mobile {% if page == 'task' %}is-active{% endif %}">
            <a href="/todo/task/{{ sorter }}">Tasks</a>
        </li>
        <li class="is-size-6-mobile {% if page == 'expired' %}is-active{% endif %}">
            <a href="/todo/expired/{{ sorter }}">Expired</a>
        </li>
        <li class="is-size-6-mobile {% if page == 'completed' %}is-active{% endif %}">
            <a href="/todo/completed/{{ sorter }}">Completed</a>
        </li>
        <li class="is-size-6-mobile {% if page == 'create' %}is-active{% endif %}">
            <a href="/todo/create/{{ sorter }}">Create Task</a>
        </li>
    </ul>
</div>
