<section>
    <div class="container is-max-desktop">
        <div class="columns is-mobile">
            <p class="column is-half-desktop is-two-thirds-touch py-1">
            <span class="subtitle is-6">Sort by:</span>
            <span class="subtitle is-6 mx-1">
                <a {% if sorter == 'deadline' %} class="has-text-black"{% endif %} href={{ url_for('.task', page=page, sorter='deadline') }}>
                    Deadline
                </a>
            </span>
            <span class="subtitle is-6 mx-1 is-hidden-mobile">
                <a {% if sorter == 'start' %} class="has-text-black"{% endif %} href={{ url_for('.task', page=page, sorter='start') }}>
                    Start&nbsp;Date
                </a>
            </span>
            <span class="subtitle is-6 mx-1">
                <a {% if sorter == 'title' %} class="has-text-black"{% endif %} href={{ url_for('.task', page=page, sorter='title') }}>
                    Title
                </a>
            </span>
            </p>
            <div class="column is-hidden-mobile"></div>
            <div class="column is-2-desktop py-1">
                <form class="level-item">
                    <div class="select is-small is-rounded">
                        <select id="filter" onchange="filterTag()">
                            <option selected disabled>Filer by Tag</option>
                            {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                            {% endfor %}
                            <option value="none">all</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        {% for task in todos | sort(attribute = sorter) %}
        <div class="notification is-dark columns is-gapless is-vcentered {{task.tag}}">
            <div class="column">
                <div class="columns is-gapless mb-1">
                    <div class="column is-two-thirds">
                        <span class="tag has-background-grey-light has-text-white-bis px-3 is-hidden-desktop">{{ task.tag }}</span>
                        <h class="title is-5 is-size-6-mobile is-size-4-tablet-only">{{ task.title }}</h> 
                    </div>
                    <div class="column has-text-right is-hidden-touch">
                        <span class="tag has-background-grey-light has-text-white-bis px-3">{{ task.tag }}</span>
                        <p class="content is-small">Start date: {{ task.start }}</p>
                    </div>
                </div>
                <p class="mb-3 mr-2 is-hidden-mobile">{{ task.descriptor }}</p>
            </div>
            <div class="column is-2 has-text-right-desktop has-text-left-mobile mr-2 mt-2">
                {% if page=='completed' %}
                <form action="/todo/{{ page }}/{{ sorter }}" method="POST">
                    <button type="submit" class="button is-info is-hidden-mobile" name="delete" value={{ task.id }}>
                        <h class="title is-size-6 mb-1">Completed |&nbsp;&nbsp;<span class="icon"><i class="fas fa-times"></i></span></h>
                    </button>
                    <button type="submit" class="delete is-pulled-right is-hidden-tablet" name="delete" value={{ task.id }}>
                        </button>
                {% endif %}
                <h class="title is-6 mr-3 is-hidden-mobile">Deadline</h>
                <p class="title is-6 mr-3 mb-0 is-hidden-mobile">{{ task.deadline }}</p>
                {% set deadline = "{}".format(task.deadline).split('-') %}
                <span class="title is-6 mr-3 mb-0 is-hidden-tablet">DL:&nbsp;{{deadline[2]}}/{{deadline[1]}}/{{deadline[0][0:2]}}</span>
                <span class="title is-6 {%if page=='completed'%}is-hidden{%endif%}"> {{ task.remain_day }} of {{ task.total_day }} Days</span>
                <span class="icon {%if page=='completed'%}is-hidden{%endif%}"><i class="fas fa-calendar-day"></i></span>
                <span class="mr-3 {%if page=='completed'%}is-hidden{%endif%} is-hidden-desktop">remain</span>
                <progress class="progress is-hidden-touch is-{{ task.progress_color }} mb-1 {%if page=='completed'%}is-hidden{%endif%}" value="{{ task.remain_percent }}" max="100"></progress>
            </div>
            <div class="column is-one-fifth has-text-centered {%if page=='completed'%}is-hidden{%endif%}">
                <form method="POST" action="/todo/{{ page }}/{{ sorter }}" class="field is-addons has-text-centered mb-1 is-hidden-touch">
                    <div class="field has-addons">
                        <button class="button is-small control" name="change" value type="submit">
                            <span class="icon is-small">
                                <i class="fas fa-check"></i> 
                            </span>
                        </button>
                        <input class="is-hidden" type="secret" value={{ task.id }} name="change_id">
                        <input class="input is-small control" name="change_date" type="date">
                    </div>
                </form>
                <div class="">
                </div>
                    {% include "partial/todo/todo_del_button.html" %}
            </div>
        </div>
{% endfor %}
    </div>
</section>

<script>
    function filterTag() {
        let choice = document.querySelector('#filter').value;
        {% for tag in tags %}
        lines = document.querySelectorAll(".{{ tag }}");
        for (let i = 0; i < lines.length; i++) {
            if (choice !== '{{ tag }}' && choice !== 'none') {
                lines[i].style.display = 'none';
            }
            else if (choice === '{{ tag }}' || choice === 'none') {
                lines[i].style.removeProperty('display');
            }
        }
        {% endfor %}
        return;
    }
</script>
