.is-flex-direction-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.is-flex-direction-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.is-flex-direction-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.is-flex-direction-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

.is-flex-wrap-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.is-flex-wrap-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.is-flex-wrap-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.is-justify-content-flex-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.is-justify-content-flex-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.is-justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.is-justify-content-space-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.is-justify-content-space-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.is-justify-content-space-evenly {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

.is-justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.is-justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.is-justify-content-left {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.is-justify-content-right {
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
}

.is-align-content-flex-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.is-align-content-flex-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.is-align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.is-align-content-space-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.is-align-content-space-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.is-align-content-space-evenly {
  -ms-flex-line-pack: space-evenly !important;
      align-content: space-evenly !important;
}

.is-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.is-align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: start !important;
}

.is-align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: end !important;
}

.is-align-content-baseline {
  -ms-flex-line-pack: baseline !important;
      align-content: baseline !important;
}

.is-align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.is-align-items-flex-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.is-align-items-flex-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.is-align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.is-align-items-baseline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

.is-align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
}

.is-align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: end !important;
}

.is-align-items-self-start {
  -webkit-box-align: self-start !important;
      -ms-flex-align: self-start !important;
          align-items: self-start !important;
}

.is-align-items-self-end {
  -webkit-box-align: self-end !important;
      -ms-flex-align: self-end !important;
          align-items: self-end !important;
}

.is-align-self-auto {
  -ms-flex-item-align: auto !important;
      -ms-grid-row-align: auto !important;
      align-self: auto !important;
}

.is-align-self-flex-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.is-align-self-flex-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.is-align-self-center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.is-align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.is-align-self-stretch {
  -ms-flex-item-align: stretch !important;
      -ms-grid-row-align: stretch !important;
      align-self: stretch !important;
}

.is-flex-grow-0 {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.is-flex-grow-1 {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

.is-flex-grow-2 {
  -webkit-box-flex: 2 !important;
      -ms-flex-positive: 2 !important;
          flex-grow: 2 !important;
}

.is-flex-grow-3 {
  -webkit-box-flex: 3 !important;
      -ms-flex-positive: 3 !important;
          flex-grow: 3 !important;
}

.is-flex-grow-4 {
  -webkit-box-flex: 4 !important;
      -ms-flex-positive: 4 !important;
          flex-grow: 4 !important;
}

.is-flex-grow-5 {
  -webkit-box-flex: 5 !important;
      -ms-flex-positive: 5 !important;
          flex-grow: 5 !important;
}

.is-flex-shrink-0 {
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important;
}

.is-flex-shrink-1 {
  -ms-flex-negative: 1 !important;
      flex-shrink: 1 !important;
}

.is-flex-shrink-2 {
  -ms-flex-negative: 2 !important;
      flex-shrink: 2 !important;
}

.is-flex-shrink-3 {
  -ms-flex-negative: 3 !important;
      flex-shrink: 3 !important;
}

.is-flex-shrink-4 {
  -ms-flex-negative: 4 !important;
      flex-shrink: 4 !important;
}

.is-flex-shrink-5 {
  -ms-flex-negative: 5 !important;
      flex-shrink: 5 !important;
}
