{% extends "layout.html" %}
{% block title %}Error{% endblock %}

{% block asciiart %}
      ___           ___           ___           ___                   
     /  /\         /  /\         /  /\         /  /\          __      
    /  /::\       /  /::\       /  /::\       /  /::\        |  |\    
   /__/:/\:\     /  /:/\:\     /  /:/\:\     /  /:/\:\       |  |:|   
  _\_ \:\ \:\   /  /:/  \:\   /  /::\ \:\   /  /::\ \:\      |  |:|   
 /__/\ \:\ \:\ /__/:/ \__\:\ /__/:/\:\_\:\ /__/:/\:\_\:\     |__|:|__ 
 \  \:\ \:\_\/ \  \:\ /  /:/ \__\/~|::\/:/ \__\/~|::\/:/     /  /::::\
  \  \:\_\:\    \  \:\  /:/     |  |:|::/     |  |:|::/     /  /:/~~~~
   \  \:\/:/     \  \:\/:/      |  |:|\/      |  |:|\/     /__/:/     
    \  \::/       \  \::/       |__|:|~       |__|:|~      \__\/      
     \__\/         \__\/         \__\|         \__\|                  
                                                                      
{% endblock %}

{% block main %}
<div class="container is-max-desktop has-text-centered">
    <h class="title is-3"> 
        {{ error_message }}
    </h>
    <p class="is-size-5 mt-3">
        <a href="#" onClick="history.back()">Go Back</a>
    </p>
</div>
{% endblock %}

