{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block asciiart %}
                                          
      ___           ___           ___     
     /__/\         /  /\         /__/\    
     \  \:\       /  /:/_       _\_ \:\   
      \  \:\     /  /:/ /\     /__/\ \:\  
  _____\__\:\   /  /:/ /:/_   _\_ \:\ \:\ 
 /__/::::::::\ /__/:/ /:/ /\ /__/\ \:\ \:\
 \  \:\~~\~~\/ \  \:\/:/ /:/ \  \:\ \:\/:/
  \  \:\  ~~~   \  \::/ /:/   \  \:\ \::/ 
   \  \:\        \  \:\/:/     \  \:\/:/  
    \  \:\        \  \::/       \  \::/   
     \__\/         \__\/         \__\/    
                                          
{% endblock %}

{% block mobileart %}
                     
 _   _  _____ _    _ 
| \ | ||  ___| |  | |
|  \| || |__ | |  | |
| . ` ||  __|| |/\| |
| |\  || |___\  /\  /
\_| \_/\____/ \/  \/ 
                     
{% endblock %}

{% block main %}
<div class="container is-max-desktop">
    <div class="columns is-centered">
        <div class="column is-one-third mx-5">
            <form action="/change" method="post">
                <div class="field">
                    <label class="label">Old Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password-old">
                    </div>
                </div>
                <div class="field">
                    <label class="label"><br>New Password</label>
                    <div class="control"><input class="input" type="password" name="password-new"></div>
                </div>
                <div class="field">
                    <label class="label">Confirm New Password</label>
                    <div class="control"><input class="input" type="password" name="password-confirm"></div>
                </div>
                <div class="field">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="control has-text-centered">
                                <button type="submit" class="button is-outlined px-6 mt-3 is-dark" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock %}
