<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Seize the Day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sass/style.css') }}">
    <link rel="stylesheet" href="../static/sass/style.css">
</head>
<body>

<header>
<div class="columns">
    <div class="column is-full has-text-centered content">
        <pre class="title is-5">
     ___           ___           ___           ___     
    /__/\         /  /\         /__/\         /  /\    
    \  \:\       /  /::\       |  |::\       /  /:/_   
     \__\:\     /  /:/\:\      |  |:|:\     /  /:/ /\  
 ___ /  /::\   /  /:/  \:\   __|__|:|\:\   /  /:/ /:/_ 
/__/\  /:/\:\ /__/:/ \__\:\ /__/::::| \:\ /__/:/ /:/ /\
\  \:\/:/__\/ \  \:\ /  /:/ \  \:\~~\__\/ \  \:\/:/ /:/
 \  \::/       \  \:\  /:/   \  \:\        \  \::/ /:/ 
  \  \:\        \  \:\/:/     \  \:\        \  \:\/:/  
   \  \:\        \  \::/       \  \:\        \  \::/   
 \__\/         \__\/         \__\/         \__\/ 
        </pre>
    </div>
  </div>  
</header>

<section class="section">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
            <form method="get" action="http://duckduckgo.com/">
                <input class="input is-rounded" type="text" name="q" placeholder="Search on Duckduckgo" value="">
                <input type="hidden" name="kae" value="d"/>
                <input type="hidden" name="k1" value="-1"/> 
                <input type="hidden" name="kp" value="-2"/>
            </form>
        </div>
        <div class="column"></div>
    </div>

</section>

<section>
    <nav class="columns mt-3">
        <div class="column"></div>
        <div class="menu column has-text-centered">
            <p class="menu-label">Dev Tools</p>
            <ul class="menu-list">
                <li><a href="https://wiki.archlinux.org/">Arch Wiki</a></li>
                <li><a href="https://docs.emmet.io/cheat-sheet/">Emmet Cheatsheet</a></li>
                <li><a href="https://vifm.info/cheatsheets.shtml">Vifm</a></li>
                <li><a href="https://coolors.co/">Coolers</a></li>
                <li><a href="https://gitlab.com/">Gitlab</a></li>
                <li><a href="https://bulma.io/documentation/">Bulma Docs</a></li>
            </ul>
        </div>
        <div class="menu column has-text-centered">
            <p class="menu-label">Education</p>
            <ul class="menu-list">
                <li class="dropdown is-hoverable is-up">
                    <div class="dropdown-trigger">
                        <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>To create</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="https://tryhackme.com/">Tryhackme</a>
                            <a class="dropdown-item" href="https://www.youtube.com/watch?v=rWFR4NC20UA&list=PLxN4E629pPnKKqYsNVXpmCza8l0Jb6l8-&index=2">Build an OS</a>
                            <a class="dropdown-item" href="https://courses.wesbos.com/account">30 Days of JS</a>
                            <a class="dropdown-item" href="https://www.digitalocean.com/community/tutorials/how-to-scrape-a-website-using-node-js-and-puppeteer">Scrapper</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown is-hoverable is-up">
                    <div class="dropdown-trigger">
                        <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Courses</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="https://codewithmosh.com/courses/enrolled/496060">Mosh</a>
                            <a class="dropdown-item" href="https://practice.geeksforgeeks.org/courses/ds-and-algo-foundation">Algorithms</a>
                            <a class="dropdown-item" href="https://courses.wesbos.com/account">30 Days of JS</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown is-hoverable is-up">
                    <div class="dropdown-trigger">
                        <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>CS50</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="https://courses.edx.org/courses/course-v1:HarvardX+CS50+X/course/">Cource Homepage</a>
                            <a class="dropdown-item" href="https://ide.cs50.io">CS50 IDE</a>
                            <a class="dropdown-item" href="https://cs50.harvard.edu/x/2020/weeks/7">Week 7</a>
                            <a class="dropdown-item" href="https://cs50.me/">CS50.me</a>
                        </div>
                    </div>
                </li>
                <li><a href="https://www.youtube.com/c/JohnHammond010/videos">Pentest channel</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/certificate/NSMBN8YWC2KD">Cryptography</a></li>
                
                
            </ul>
        </div>       
        <div class="menu column has-text-centered">
            <p class="menu-label">Social Media</p>
            <ul class="menu-list">
                <li><a href="https://www.youtube.com/feed/subscriptions">Youtube</a></li>
                <li><a href="http://f1livegp.me/f1/live.html">F1 Live</a></li>
                <li><a href="http://www.mangapanda.com/">Panda</a></li>
                <li><a href="https://curiositystream.com/">Curiosity Stream</a></li>
                <li><a href="https://watchnebula.com/">Nebula</a></li>
                <li><a href="https://digitalik.net/btc/s2fx/">S2F BTC</a></li>
            </ul>
        </div>       
        <div class="menu column has-text-centered">
            <p class="menu-label">Music</p>
            <ul class="menu-list">
                <li><a href="https://www.metronomeonline.com/dashboard/">Metronome</a></li>
                <li><a href="https://guitarmastery.net/">GuitarMastery</a></li>
                <li><a href="https://metalmethod.com/checkout/order-received/17924?key=wc_order_5ae1c49adca37&utm_nooverride=1">Metal Methods</a>
            </ul>
        </div>
        <div class="column"></div>
    </nav>
</section>
</body>
</html>
