<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sass/style.css') }}">
</head>
<body>

<header>
<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-burger burger" data-target="option">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="option">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-item" href="{{ url_for('todo') }}">Task Manager</a>
            <a class="navbar-item" href="{{ url_for('timetable') }}">Timetable</a>
            <a class="navbar-item" href="{{ url_for('note') }}">Notetaking</a>
        </div>
        <hr>
        <div class="navbar-end">
            {% if username %}
            <a class="navbar-item" href="{{ url_for('index') }}"><strong>{{ username }}</strong></a>
            <a class="navbar-item is-size-6" href="{{ url_for('change') }}">New Password</a>
            <a class="navbar-item is-size-6" href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
            <a class="navbar-item" href="{{ url_for('login') }}">Login</a>
            <a class="navbar-item" href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
<div id="message-list">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="notification is-success">
                <button class="delete" onclick="closeBanner(this)"></button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="columns">
    <div class="column is-full has-text-centered content">
        <pre class="title is-size-5-desktop is-hidden-mobile is-size-6-tablet">
            {% block asciiart %}
            {% endblock %}
        </pre>
        <pre class="title is-size-6-mobile is-hidden-tablet">
            {% block mobileart %}
            {% endblock %}
        </pre>
    </div>
  </div>  
</header>
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
});

function closeBanner(el){
    el.parentNode.style.display = "None";
    return;
}
function flash(message, style){
    let messages = document.querySelector("#message-list");
    let node = document.createElement("div");
    let deleteBtn = document.createElement("button");
    let text = document.createTextNode(message);

    node.classList.add("notification");
    node.classList.add("mb-1");
    node.classList.add(style);
    deleteBtn.classList.add("delete");
    deleteBtn.setAttribute("onclick", "closeBanner(this)");
    node.appendChild(deleteBtn);
    node.appendChild(text);
    messages.appendChild(node);
    return;
}
</script>
{% block main %}
{% endblock %}

<footer class="footer">
  <div class="content has-text-centered has-text-grey">
    <p>
    <strong>My Productivity Suite</strong> by 
    <a href="https://gitlab.com/STElev">Sunny Chau</a>. 
      The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
</body>
</html>
