{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block asciiart %}
      ___       ___           ___                       ___     
     /\__\     /\  \         /\  \          ___        /\__\    
    /:/  /    /::\  \       /::\  \        /\  \      /::|  |   
   /:/  /    /:/\:\  \     /:/\:\  \       \:\  \    /:|:|  |   
  /:/  /    /:/  \:\  \   /:/  \:\  \      /::\__\  /:/|:|  |__ 
 /:/__/    /:/__/ \:\__\ /:/__/_\:\__\  __/:/\/__/ /:/ |:| /\__\
 \:\  \    \:\  \ /:/  / \:\  /\ \/__/ /\/:/  /    \/__|:|/:/  /
  \:\  \    \:\  /:/  /   \:\ \:\__\   \::/__/         |:/:/  / 
   \:\  \    \:\/:/  /     \:\/:/  /    \:\__\         |::/  /  
    \:\__\    \::/  /       \::/  /      \/__/         /:/  /   
     \/__/     \/__/         \/__/                     \/__/    
                                                                
{% endblock %}

{% block mobileart %}
                               
 _     _____ _____ _____ _   _ 
| |   |  _  |  __ \_   _| \ | |
| |   | | | | |  \/ | | |  \| |
| |   | | | | | __  | | | . ` |
| |___\ \_/ / |_\ \_| |_| |\  |
\_____/\___/ \____/\___/\_| \_/
                               

{% endblock %}

{% block main %}
<div class="container is-max-desktop">
    <div class="columns is-centered">
        <div class="column is-one-third mx-5">
            <form action="/login" method="post">
                <div class="field">
                    <label class="label">User Name</label>
                    <div class="control">
                        <input class="input" type="text" name="username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control"><input class="input" type="password" name="password"></div>
                    <input name="next" value="{{ request.args.get('next', '') }}" type="hidden">
                </div>
                <div class="field">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="control has-text-centered">
                                <button type="submit" class="button is-outlined px-6 mt-3 is-dark" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock %}
