
{% extends "layout.html" %}


{% block title %}
Notes
{% endblock %}

{% block asciiart %}
    {% include "/partial/note/note_logo.html" %}
{% endblock %}

{% block mobileart %}
    {% include "/partial/note/note_mobile.html" %}
{% endblock %}

{% block main %}
    <script src="{{ url_for('static', filename='js/s3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmlsanitizer.js') }}"></script>
    {% include "partial/note/note_tab.html" %}
    {% if page == "new" %}
        {% include "partial/note/note_new.html" %}
        <script>list_tags()</script>
    {% endif %}
    {% if page == "view" %}
        {% include "partial/note/note_view.html" %}
    {% endif %}
    {% include "partial/note/note_buttons.html" %}
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
{% endblock %}
