{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block asciiart %}
      ___           ___           ___     
     /\  \         /\  \         /\  \    
    /::\  \       /::\  \       /::\  \   
   /:/\:\  \     /:/\:\  \     /:/\:\  \  
  /::\~\:\  \   /::\~\:\  \   /:/  \:\  \ 
 /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/_\:\__\
 \/_|::\/:/  / \:\~\:\ \/__/ \:\  /\ \/__/
    |:|::/  /   \:\ \:\__\    \:\ \:\__\  
    |:|\/__/     \:\ \/__/     \:\/:/  /  
    |:|  |        \:\__\        \::/  /   
     \|__|         \/__/         \/__/    
                                          
{% endblock %}

{% block mobileart %}
                   
______ _____ _____ 
| ___ \  ___|  __ \
| |_/ / |__ | |  \/
|    /|  __|| | __ 
| |\ \| |___| |_\ \
\_| \_\____/ \____/
                   
{% endblock %}

{% block main %}
<div class="container is-max-desktop">
    <div class="columns is-centered">
        <div class="column is-one-third mx-3">
            <form action="/register" method="post">
                <div class="field">
                    <label class="label">User Name</label>
                    <div class="control">
                        <input class="input" type="text" name="username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control"><input class="input" type="password" name="password"></div>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control"><input class="input" type="password" name="confirm"></div>
                </div>
                <div class="field">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <div class="control has-text-centered">
                                <button class="button is-outlined px-6 mt-3 is-dark" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock %}


